
<%if logged_in?%> 
  <p> Welcome, <%= current_user.username %>
  <h2> Tweets </h2>
  
  <% @tweets.each do |tweet| %>
    <div>
      <%= tweet.content %>
    </div>
  <% end %>
<%end%>

<form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" >
</form>
